#home {
    height: 45vh;
    text-align: center;
    margin: 0;
    color: rgb(114, 109, 109);
    padding: 10vh;
}

#impressum {
    padding: 0.5vh;
    margin: 0;
    text-align: center;
    font-size: 1em;
    border-radius: 0;
}

#about {
    height: 50vh;
    text-align: center;
    margin: 0;
    color: rgb(175, 48, 31);
}

#software {
    height: 175vh;
    text-align: center;
    margin: 0;
    color: rgb(42, 100, 177);
}
#software .card {
    margin: 3%;
    width: 45vw;
    position: relative;
    right: -23vw;
}
#software p {
    font-size: 150%;
}
#software h3 {
    color:rgb(46, 44, 44);
}
#software a {
    width: 8vw;
    height: 5vh;
    font-size: 120%;
    text-align: center;
}

#contact {
    height: 45vh;
    text-align: center;
    margin: 0;
    color:rgb(111, 42, 141);
    font-size: 160%;
}

#navbar {
    height: 6.3vh;
    font-size: 1.3em;
}

#navbar_icon {
    border: 0.1vw solid;
}

p {
    font-family: 'Work Sans';
}

body {
    overflow-x: hidden;
    font-family: 'Work Sans';
}

.nav-cont {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-item {
    padding: 1.5em;
}

.darker {
    background-color: rgb(41, 39, 39);
    color: rgb(155, 152, 152);
}