#title {
    background-color: rgb(166, 222, 248);
    text-align: center;
    margin: 0;
    height: 24vh;
}

#text {
    background-color: #fcf6f6;
    width: 72vw;
    height: 60vh;
    position: relative;
    right: -24vw;
    bottom: 9.5vh;
    font-size: 175%;
}

#navbar {
    width: 23vw;
    font-size: 130%;
    border-right: 0.1vw solid;
}

#navbarCont {
    padding: 1vw;
    font-size: 135%;
}

body {
    background-color: #fcf6f6;
}